<div style="text-align:center">
  <a [routerLink]="['/']">index</a>
  <a [routerLink]="['/test']" [queryParams]="{id:1}">test</a>
  <a [routerLink]="['/']">index</a>

  <a [routerLink]="['/test?id=2']" >test</a>
  <input type="button" value="detail" (click)="toTest()">
  <router-outlet></router-outlet>

  <br><br>
  <app-content></app-content>
  <a [routerLink]="[{outlets:{primary:'home',cyh:'cyh'}}]">cyh1</a>
  <a [routerLink]="[{outlets:{cyh:'cyh2'}}]">cyh2</a>
  <router-outlet name="cyh"></router-outlet>


  <br>-----------
  <app-stock></app-stock>
  <br>-----------
  <app-stock2></app-stock2>
</div>
